.ringlist{
    margin-bottom: 80px;
}
.ringlist-img{
    width: 100%;
}
.necklacelist{
    margin-bottom: 80px;
}
.necklacelist-img{
    width: 100%;
}
.braceletlist{
    margin-bottom: 80px;
}
.braceletlist-img{
    width: 100%;
}
.earringlist{
    margin-bottom: 80px;
}
.earringlist-img{
    width: 100%;
}
.accessorylist-img{
    width: 100%;
}
.accessorylist{
    margin-bottom: 80px;
}
.whatnew{
    margin-bottom: 80px;
}
.whatnew-img{
    width: 100%;
}