.header{
    color:#42210b;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}
.header__social{
    text-align: center;
}
.header__personal{
    text-align: center;
}
.header__social > a{
    text-decoration: none;
    color:#42210b;
    font-size: 24px;
    margin: 0 6px;
}
.header__personal{
    display: flex;
}
.header__personal--account{
    cursor: pointer;
    color:#42210b;
    font-size: 24px;
    margin: 0 6px;
}
.header__seperate{
    font-size: 20px;
    font-weight: 600;
}
.header__logo{
    text-align: center;
}
.header__logo > img{
    width: 120px;
    height: 90px;
}

.account-show{
    display: block;
}
.account{
    display: none;
}
ul >li{
    list-style: none;
    color: #76695f;
}
ul >li:hover{
    color: #42210b;
}
/* .nav_layout{
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
} */
.nav_layout {
    position: relative;
    font-family: 'Roboto', sans-serif;
    transition: top 0.3s ease;
}
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}
  
.nav_layout__child{
    text-align: center;
    border-top: 2px solid #42210b;
    border-bottom: 2px solid #42210b;
}
.nav__item{
    margin: 0 20px;
    font-weight: 600;
}
.nav__item-list:hover{
    background-color: #42210b;
    color: #ffffff;
    border-radius: 4px;
}
.nav-link:hover{
    background-color: #42210b;
    color: #ffffff;
    border-radius: 4px;

}
@media screen and (min-width: 990px) and (max-width: 1400px) {
    .nav__item {
      margin: 0 12px; 
    }
}
.footer{
    padding: 40px 0;
    background-color: #291407;
    color: #ffffff;
}
.footer > ul > li{
    list-style: none;
}
.footer__item-underline{
    border-right: 2px solid #ffffff;
}
.footer__item >ul > a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}
.footer__address{
    font-size: x-large;
}
.footer__main-name{
    color: #ffffff;
}
.footer__main{
    text-align: center;
}
.footer__main > img{
    width: 100px;
    height: 70px;
}
.footer__item.footer__item-address {
    text-align: center;
}
.cart{
    font-size: 24px;
}